<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Testing">
<listeners>
	<listener class-name="com.qa.utility.Reporting"></listener>
</listeners>
  <test thread-count="5" name="Netflix Search Engine" >
  <parameter name="Browser" value="chrome"></parameter>
  <parameter name="Url" value="https://www.netflix.com/"></parameter>
    <classes>
      <class name="com.qa.testscripts.TC_NetFlixAutomation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
